.carriers {
  padding-bottom: 130px;
  .carrier-wrap1 {
    padding-bottom: 20px;
    padding-top: 30px;
    position: relative;
    background-image: url('media/unnamed.jpg');
    background-size: cover;
    background-attachment: fixed;
    max-height: inherit;
    .title-cont3 {
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      h1 {
        margin-top: 50px;
        font-weight: 300;
        color: white;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0;

      }
      h4 {
        margin-top: 5px;
        margin-bottom: 36px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
        color: white;
        b {
          font-size: 27px;
        }
      }
    }
    .box-container {
      text-align: center;
      margin-top: 14px;
      margin: auto;
      clear: both;
      height: auto;
      overflow: hidden;
      padding-bottom: 10px;
      float: none;
      .thirdcol {
        width: 267px;
        display: inline-block;
        float: none;
        margin-left: 7px;
        margin-right: 7px;
        padding: 0;
        .box-widget {
          margin: 25px 0 0 0;
          position: relative;
          overflow: hidden;
          border-radius: 3px;
          box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
          background-color: white;
          width: 267px;
          height: 215px;
          &:hover {

            .description-hover {
              top: 0!important;
            }

          }
          .box-widget-holder {
            width: 100%;
            height: 215px;
            overflow: hidden;
            display: table;
            .box-widget-inner {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              img {
                margin: 20px 0 17px 0;
                vertical-align: baseline;
              }
              .desc {
                text-align: center;
                @extend %ptext;
                font-weight: normal;
                margin: 0;
                vertical-align: baseline;
              }
            }
          }
          .description-hover {
            text-align: left;
            height: 100%;
            width: 100%;
            background-color: $navy;
            position: absolute;
            top: -100%;
            color : white;
            font-size: 16px;
            line-height: 24px;
            transition: top 0.3s;
            display: table;
            p {
              padding: 10px;
              font-weight: 300;
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  .carrier-wrap2 {
    padding-top: 30px;
    background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 25%,#ffffff 25%,#ffffff 100%);
    .carrier-wrap2-inner {
      padding: 0 5px 0 5px;
      .words {
        margin-top: 15px;
        padding: 0;
        text-align: center;
        color: $graytext;
        font-weight: 300;
        h1 {
          margin: 0;
          font-size: 20px;
          line-height: 30px;
          font-weight: 300;
        }
        p {
          margin-top: 27px;
          margin-bottom: 30px;
          padding-left: 10px;
          width: 100%;
          font-size: 16px;
          line-height: 24px;
        }
        .button-box2 {
          width: 100%;
          margin: 0;
          a {
          color: white;
          border-radius: 3px;
          padding: 5px 16px;
          background-color: $navy;
          border: 0;
          height: 40px;
          font-size: 16px;
          line-height: 24px;
          font-weight: normal;
          text-decoration: none;
          }
        }
      }
      .tv {
        padding: 0;
        .television{
          background-image: none;
          padding: 0px!important;
          max-width: 100%;
          height: 0;
          padding-top: 56%!important;
          margin-right: 0;
          .player-holder {
            position: absolute;
            top: 27px;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            height: auto;
            .player-inner {
              padding-top: 56.25%;
              position: relative;
              width: 100%;
              height: 0;
              .video-container {
                margin-top: -56.25%;
              }
            }
          }
        }


      }
    }
  }
}


@media (min-width: 768px) {
  .carriers{
    .carrier-wrap2 {
      .carrier-wrap2-inner {
        .tv {
          .television {
            height: 430px;
            padding: 0px!important;

          }
        }
      }
    }
  }
}


@media (min-width: 992px) {
  .carriers{
    .carrier-wrap1 {
      max-height: 422px;
      .title-cont3 {
        padding-bottom: 0;
        h1 {
          font-size: 30px;
          line-height: 45px;
          b {
            font-size: 30px;
          }
        }
        h4 {
          font-size: 22px;
          line-height: 33px;
          margin: 29px 0 29px 0;
          b {
            font-size: 48px;
          }
        }
      }
      .box-container {

        .thirdcol {
          .box-widget {
            margin: 80px 11px 0 11px;
          }
        }
      }
    }
    .carrier-wrap2 {
      padding-top: 170px;
      .carrier-wrap2-inner {
        .words {
          margin-top: 0;
          text-align: left;
          padding-left: 41px;
          h1 {
            margin: 0;
            font-size: 30px;
            line-height: 45px;
          }
          p {
            margin-bottom: 51px;
            padding-left: 0;
          }
          .button-box2 {
            a {
              margin-left: 64px;
            }
          }
        }
        .tv {
          .television {
            max-width: 531px;
            height: 430px;
            position: relative;
            background: url('media/monitor.png') no-repeat left center;
            margin-right: 50px;
            padding: 0!important;
            .player-holder {
              height: 277px;
              padding-left: 16px;
              padding-right: 21px;
            }
          }
        }

      }
    }
  }
}
