* {
    font-family: 'Open Sans', sans-serif;
}
$skyblue: #639dea;
$navy: #04294A;
$greennavy: #143758;
$graytext: #6c6c6c;
$orange: #F15727;
$powderblue: #729dd1;
$grayline: 1px solid #efeeee;

%ptext {
    color: $graytext;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
@import 'index';
@import 'careers';
@import "about-us";
@import "news";
@import "job";
@import "contact";
@import "home";
@import "home2";
@import "home3";
@import "home4";

///iphone 5
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .broker-wrap1 {
    background-attachment: scroll;
  }
  .carrier-wrap1 {
    background-attachment: scroll;
  }
  .media-wrap1 {
    background-attachment: scroll;
  }
  .aboutwrap1 {
    background-attachment: scroll;
  }
  .newswrap1 {
    background-attachment: scroll;
  }
}
///iphone 6
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .broker-wrap1 {
    background-attachment: scroll;
  }
  .carrier-wrap1 {
    background-attachment: scroll;
  }
  .media-wrap1 {
    background-attachment: scroll;
  }
  .aboutwrap1 {
    background-attachment: scroll;
  }
  .newswrap1 {
    background-attachment: scroll;
  }
}

///iphone 6 plus
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .broker-wrap1 {
    background-attachment: scroll;
  }
  .carrier-wrap1 {
    background-attachment: scroll;
  }
  .media-wrap1 {
    background-attachment: scroll;
  }
  .aboutwrap1 {
    background-attachment: scroll;
  }
  .newswrap1 {
    background-attachment: scroll;
  }
}


////ipad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .broker-wrap1 {
    background-attachment: scroll;
  }
  .carrier-wrap1 {
    background-attachment: scroll;
  }
  .media-wrap1 {
    background-attachment: scroll;
  }
  .aboutwrap1 {
    background-attachment: scroll;
  }
  .newswrap1 {
    background-attachment: scroll;
  }
}
