* {
  font-family: 'Open Sans', sans-serif; }

.menusmall {
  display: none; }

.navbar {
  background-color: #04294A;
  padding: 10px 25px 15px 30px;
  position: fixed;
  width: 100%;
  border-radius: 0;
  height: 77px; }
  .navbar img {
    margin-right: auto;
    display: inline;
    position: absolute; }
  .navbar .menu-holder {
    text-align: right;
    margin-bottom: 0;
    height: 100%;
    margin-top: 12px;
    width: 100%;
    float: right; }
  .navbar .right {
    float: right;
    display: block;
    width: 80%; }
  .navbar .navitem {
    display: inline;
    padding: 0 18px;
    font-weight: 600; }
    .navbar .navitem a {
      color: white;
      line-height: 21px;
      font-size: 14px; }
      .navbar .navitem a:hover {
        color: #669FE7;
        text-decoration: none; }
      .navbar .navitem a:focus {
        text-decoration: none; }
  .navbar .menu {
    display: none; }

footer {
  background-color: #143758;
  width: 100%;
  padding: 14px;
  font-size: 12px;
  color: white;
  text-align: center; }
  footer p {
    margin: 0; }
  footer span {
    margin: 0 1em; }

@media (min-width: 992px) {
  .wideFooter {
    padding: 7px 5px 7px 5px;
    width: 100%;
    background-color: #04294A;
    text-align: center;
    height: auto; }
    .wideFooter img {
      float: left;
      margin-left: 3%; }
    .wideFooter ul {
      list-style: none;
      margin-left: 90px;
      padding-left: 0; }
      .wideFooter ul li {
        display: inline-block;
        border-left: 1px solid white;
        padding: 0 20px 0 20px;
        text-align: center;
        margin-top: 17px; }
        .wideFooter ul li a {
          font-size: 12px;
          font-weight: 600;
          color: white; }
      .wideFooter ul #leftmost {
        border: 0; } }
@media (max-width: 991px) {
  .menu-holder {
    display: none;
    position: absolute;
    right: 76px;
    bottom: 0px; }

  .navbar .menu {
    display: block;
    float: right;
    color: white;
    font-size: 12px;
    position: relative; }
    .navbar .menu .glyphicon-triangle-left {
      font-size: 11px;
      position: absolute;
      right: 48px;
      top: 5px; }
    .navbar .menu .glyphicon-triangle-right {
      font-size: 11px;
      position: absolute;
      right: -19px;
      top: 5px; }

  .right {
    margin-top: 12px; }

  .menu a {
    color: white;
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 8px;
    position: absolute;
    right: -9px; }
    .menu a:hover {
      color: #669FE7;
      text-decoration: none; }
    .menu a:focus {
      text-decoration: none; }

  .wideFooter {
    display: none; } }
@media (max-width: 767px) {
  .menusmall {
    display: block;
    float: right;
    color: white;
    font-size: 12px;
    position: relative; }
    .menusmall a {
      color: white;
      line-height: 21px;
      font-size: 14px;
      font-weight: 600;
      padding-left: 10px;
      padding-right: 8px;
      position: absolute;
      right: -24px; }
      .menusmall a:hover {
        color: #669FE7;
        text-decoration: none; }
      .menusmall a:focus {
        text-decoration: none; }
    .menusmall .glyphicon-triangle-bottom {
      font-size: 11px;
      position: absolute;
      right: 34px;
      top: 5px; }
    .menusmall .glyphicon-triangle-top {
      font-size: 11px;
      position: absolute;
      right: 34px;
      top: 5px; }

  .navbar .menu {
    display: none; }

  .downmenubox {
    position: fixed;
    top: 60px;
    right: 0px;
    border-top: 1px solid white;
    width: 100%;
    height: 224px;
    background-color: #04294A; }
    .downmenubox .navitem {
      width: 100%;
      display: inline-block;
      text-align: right;
      margin-top: 19px;
      padding: 0px 12px 0 30px; }
      .downmenubox .navitem a {
        color: white;
        font-weight: 600; }
        .downmenubox .navitem a:hover {
          color: #669FE7;
          text-decoration: none; }
        .downmenubox .navitem a:focus {
          text-decoration: none; }

  footer span {
    display: block;
    margin: 1em 0; } }
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@media (max-width: 991px) {
  .wrapper {
    background-color: #04294A; }
    .wrapper .container {
      margin: auto;
      padding: 150px 5px 120px 5px;
      text-align: center;
      vertical-align: baseline;
      max-width: 750px; }
      .wrapper .container h1 {
        font-size: 36px;
        font-weight: 700;
        color: white;
        margin: 0;
        line-height: 54px; }
      .wrapper .container h4 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        color: white;
        padding-top: 30px;
        margin: 0; }

  .wrapper2 .container {
    text-align: center;
    padding: 5em 5px 4em 5px;
    max-width: 750px;
    min-height: 346px; }
    .wrapper2 .container p {
      margin-bottom: 1em;
      font-size: 16px;
      line-height: 24px;
      color: #6c6c6c;
      font-weight: 300; }
  .wrapper2 .orange {
    padding: 65px 0 55px;
    text-align: center;
    background-color: #F15727; }
    .wrapper2 .orange h1 {
      font-size: 30px;
      line-height: 45px;
      color: white;
      font-weight: 300;
      margin: 0; }

  .wrapper3 {
    padding-bottom: 70px; }
    .wrapper3 .container {
      max-width: 750px;
      padding: 65px 5px 0 5px;
      height: auto;
      min-height: auto;
      text-align: left; }
      .wrapper3 .container .position-name {
        color: #729dd1;
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        text-decoration: none; }
      .wrapper3 .container .position-description {
        color: #6c6c6c;
        font-size: 16px;
        line-height: 24px;
        padding-top: 20px;
        margin: 0; } }
@media (min-width: 992px) {
  .wrapper {
    background-color: #04294A; }
    .wrapper .container {
      margin: auto;
      padding: 192px 5px 120px 5px;
      text-align: center;
      vertical-align: baseline; }
      .wrapper .container h1 {
        font-size: 48px;
        font-weight: 700;
        color: white;
        margin: 0 0 10px 0;
        line-height: 53px; }
      .wrapper .container h4 {
        font-size: 30px;
        line-height: 45px;
        font-weight: 300;
        color: white;
        padding-top: 30px;
        margin: 0; }

  .wrapper2 .container {
    padding: 5em 5px 4em 5px;
    width: 970px;
    height: 346px; }
    .wrapper2 .container p {
      margin-bottom: 1em;
      font-size: 16px;
      line-height: 24px;
      color: #6c6c6c;
      font-weight: 300; }
  .wrapper2 .orange {
    padding: 65px 0 55px;
    text-align: center;
    background-color: #F15727; }
    .wrapper2 .orange h1 {
      font-size: 30px;
      line-height: 45px;
      color: white;
      font-weight: 300;
      margin: 0; }

  .wrapper3 {
    padding-bottom: 130px; }
    .wrapper3 .container {
      width: 970px;
      padding: 65px 5px 0 5px;
      height: auto; }
      .wrapper3 .container .position-name {
        color: #729dd1;
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        text-decoration: none; }
      .wrapper3 .container .position-description {
        color: #6c6c6c;
        font-size: 16px;
        line-height: 24px;
        padding-top: 20px;
        margin: 0; } }

/*# sourceMappingURL=styles.css.map */
