<div class="aboutwrap1">
  <div class="container">
    <h1>About us</h1>
    <h4>Breakthrough Solutions that Drive Results</h4>
  </div>
</div>
<div class="aboutwrap2">
  <div class="container">
    <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. </p>
    <p>Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.</p>
    <p>Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. </p>
    <p></br></p>
  </div>
  <div class="orange">
    <h1>All of us, together, build RiskMatch</h1>
  </div>
</div>
<div class="aboutwrap3">
  <div class="container employee">
    <div class="img-holder col-md-2" id="kabir">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.</p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="roman">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Roman Stepanenko</h2>
    <h3>Co-Founder & Chief Technology Officer</h3>
    <p>My job is to think big and small at the same time. While I may be focusing on larger architectural challenges on any given morning, I might be working to determine the best approach to a routine request for new functionality that evening. From a leadership perspective, my job is to build a truly diverse and high-performing team, by engaging the right people and streamlining processes to elevate productivity and job satisfaction.</p>
    <p>Drawing on more than 15 years of software development experience in various industries, a graduate degree in Applied Mathematics and an MBA, I tend to approach each problem from three angles: technical, structural analysis, and a pragmatic business approach.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="patrick">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Patrick Schul</h2>
    <h3>Chief Sales Officer</h3>
    <p>During an insurance career that has spanned nearly two decades, I’ve held senior leadership roles in national sales and marketing at Sedgwick, Marsh, and Aon. More recently, I established and led a firm focused on helping large and small insurance brokerages recruit and develop out-of-industry sales talent.</p>
    <p>At RiskMatch, I’m leveraging my experience, industry knowledge and relationships to expand the number of brokers and insurers using our platform. I’m also collaborating with our development team and clients to enhance the platform’s extensive sales, marketing and analytical tools to deliver optimal value for participating brokers and insurers.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="mikeG">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Michael P. Golden</h2>
    <h3>Chief Market Engagement Officer</h3>
    <p>RiskMatch is changing how brokers and insurers are coming together to serve clients in a more meaningful and informed way. Having spent over three decades with both brokerage and underwriting organizations, I am excited to help our customers and colleagues align around our core propositions.</p>
    <p>At RiskMatch I am focusing my efforts on our insurance company relationships. We’re building robust solutions that will enable insurers to more effectively connect with their key brokers, enhance distribution and transaction efforts and achieve greater awareness of performance and opportunities.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="mikeC">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Michael Cormier</h2>
    <h3>Chief Client Engagement Officer</h3>
    <p>As Chief Client Engagement Officer, my mission is to help our clients (brokers, agents, wholesalers/MGAs and carriers) achieve the steady and consistent gains that lead to their long-term success – and that of RiskMatch. Together with our clients RiskMatch is reshaping how insurance professionals think about distribution and transaction processing. As the pace of change continues to accelerate, our industry-leading technology will fortify the future winners. To that end, I am leading a team of dedicated professionals driven by the determination to propel RiskMatch clients to achieve outstanding results.</p>
    <p>Today, in applying 25 years of experience leading global consulting, insurance and finance businesses my focus has landed squarely at the intersection of insurance and technology. Every day, RiskMatch helps carriers identify and pursue previously unforeseen growth opportunities. At the same time, RiskMatch equips brokers and agents with expanded business insight and placement options … and we’re just getting started.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="rolf">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Rolf Mortenson</h2>
    <h3>Director of User Experience & Design</h3>
    <p>I oversee design for RiskMatch, ensuring our clients have an elegant, easy-to-use interface that addresses their needs and quickly answers their pressing questions. My goal is to dramatically simplify the display of complex information, and to clearly explain what you are looking at, what is the most important information on the page, and what actions you can or need to take.</p>
    <p>With more than 20 years of experience in interface design, I have designed data intensive products for energy, environmental commodities, big data analytics, medical education, clinical trials, finance and other sectors.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="ean">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Ean Chua</h2>
    <h3>Director of Data Acquisition & Analytics</h3>
    <p>I work with clients to onboard their data to the RiskMatch platform. I first seek to understand a client’s business in the larger context, and then drill down to the relevant details, building the knowledge incrementally as I progress, with the aim to provide the most accurate picture of their data.</p>
    <p>With more than 20 years of data management experience, I have worked in client and vendor settings in multiple industries, such as managing data warehousing for a health plan, managing global policy data conversion for an insurance brokerage, and providing professional services with a product vendor.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="robin">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Robin Reinarz</h2>
    <h3>Client Engagement Manager</h3>
    <p>My role is to ensure that clients derive the greatest value from the RiskMatch® platform – access to accurate and actionable intelligence that helps them meet their strategic goals at every level of the organization.</p>
    <p>Throughout my 25-year career, I have been keenly focused on client advocacy. The insurance industry is first and foremost built on relationships — between insureds, brokers and agents and carriers. I am proud to have worked with numerous industry professionals where the relationships we have built have led to amazing successes.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="mark">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Mark Cenit</h2>
    <h3>Client Engagement Manager</h3>
    <p>I work to ensure our carrier clients derive the most value possible from the RiskMatch platform. I’ve got a strong understanding of insurance company operations, and leverage this experience to guide our clients toward better and faster decisions, and superior results with the help of our platform.</p>
    <p>I’ve spent my entire career working for insurance carriers in underwriting and distribution roles, both in the field and home office, and I’m excited to now help our industry embrace this new technology.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="joe">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Joe Masek</h2>
    <h3>Client Engagement Manager</h3>
    <p>I engage our clients as my partners, working closely with them each day to understand their needs and to ensure that our platform and technology supports them in achieving their organization’s growth, strategic goals, and ultimately their success.</p>
    <p>I am passionate about driving growth and improvement through the use of technology. The majority of my 17 years in the insurance industry have been assisting companies maximize the value of their data, adding to the success of their organizations.</p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2" id="tom">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Tom McMahon</h2>
    <h3>Client Engagement Executive</h3>
    <p>I’ve spent many years in the insurance industry developing strong and enduring personal relationships. I’m very happy and excited to be able to share the breakthrough efficiencies I see RiskMatch delivering every day.</p>
    <p>Over forty years on the carrier side – with The Hartford, Royal, and Arch – enable me to appreciate the benefits of driving efficiency and enhancing productivity. I’ve worked closely with brokers to know we need a more efficient way of matching clients with the right carrier. No one gets paid to quote!</p>
    <p>The best thing about my role at RiskMatch is reconnecting with the people I’ve met over the years. They love hearing about RiskMatch, and quickly recognize both the carrier and broker benefits.</p>
  </div>
  </div>


</div>
