<div class="aboutwrap1">
  <div class="container">
    <h1>About us</h1>
    <h4>Breakthrough Solutions that Drive Results</h4>
  </div>
</div>
<div class="aboutwrap2">
  <div class="container">
    <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. </p>
    <p>Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.</p>
    <p>Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. </p>
    <p></br></p>
  </div>
  <div class="orange">
    <h1>All of us, together, build RiskMatch</h1>
  </div>
</div>
<div class="aboutwrap3">
  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>

  <div class="container employee">
    <div class="img-holder col-md-2">
      <!-- <img src="media/employees/Kabir-headshot-214x300.jpg" alt="" /> -->
    </div>
  <div class="employeeInfo col-md-10">
    <h2>Kabir Syed</h2>
    <h3>Founder & Chief Exectuvive Officer</h3>
    <p>One of my most significant roles at RiskMatch is to bring together exceptionally talented individuals who share a commitment to continuous innovation and the drive to exceed demanding expectations every day. I have worked to build a collaborative culture where we strive for perfection in solutions and always look to do better.    </p>
    <p>In an insurance career that has spanned two decades and positions with brokers and carriers in strategy, operations, marketing and finance, I have always been a tinkerer – embracing advances in technology that have the potential to foster real breakthroughs. My vision: Fusing design, data and intelligence to solve inefficiencies that drive results.</p>
    <p>

    </p>
  </div>
  </div>


</div>
