<div class="wrapper">
    <div class="container title-container">
        <h1>Careers</h1>
        <h4>Make a Difference in Insurance!</h4>
    </div>
</div>
<div class="wrapper2">
    <div class="container">
        <p>Be part of a dynamic and diverse team that’s bringing exciting new solutions to the commercial insurance industry. Our efforts are designed to give insurance brokers, agents and companies the tools and resources they need to grow their business and compete effectively in an evolving and challenging marketplace.</p>
        <p>Our employees have a diverse experience base, and are exceptionally talented and team oriented. They enjoy flexible work schedules, competitive performance-based compensation, and a collaborative culture. We take great pride in our reputation for delivering innovative solutions and a shared commitment to perfection through a focus on constant improvement.</p>
        <p>Learn more about RiskMatch opportunities currently available.</p>
    </div>
    <div class="orange">
        <h1>Available Positions</h1>
    </div>
</div>
<div class="wrapper3">
    <div class="container position" ng-repeat="job in jobs">
        <a ui-sref="job({id:'{{job.id}}'})" class="position-name">{{job.name}}</a>
        <p class="position-description">
            {{shortenD(job.description)}}
    </div>

    <div class="container position">
        <a href="http://riskmatch.com/job/front-end-ui-developer/" class="position-name">Front-End UI Developer</a>
        <p class="position-description">
            Work in a fast-moving development environment building tools that will change the future of the insurance industry. We're looking for someone with a passion for the front-end web who can take direction and get things done. Strong front-end html, css,
            and javascript skills are required.
        </p>
    </div>
</div>
