<div class='contactwrap'>
    <div class="contact container">
        <div class="contactTitle container">
            <h1>Stay Informed about RiskMatch</h1>
        </div>
        <div class="widgets container">
            <div class="col-md-4 widget">
                <h2 class="widget-title">Contact Us</h2>

                <div class='col-sm-10 loca'>
                    <p class='town'>Headquarters</p>
                    <p>
                        5 Greenwich Office Park, 4th Floor, Greenwich, CT 06831 <br> Tel: (203) 542-0592
                    </p>
                    <p class='email'>
                        <a href="mailto:asemle102@gmail.com">asemle102@gmail.com</a>
                    </p>
                </div>
            </div>

            <div class="col-md-4 widget">
                <h2 class="widget-title">Subscribe</h2>
                <p class="widget-desc">Subscribe to receive occasional email updates.</p>
                <div class="col-md-10 subscribe">
                    <input type="text" class="emailbox" tabindex="1" name="Email" placeholder="Email">
                    <input type="submit" name="name" value="Subscribe" class='button'>
                </div>
                <div class="social-buttons">
                    <h2 class="follow">Follow me</h2>

                    <a href="https://github.com/asemle"><img src='media/github icon.png' class='github'></a><a href="https://www.linkedin.com/in/andrew-semle-6a575395?trk=hp-identity-name"><img src='media/linkedin-sociocon.png' class='linkedin'></a>
                </div>
            </div>

            <div class="col-md-4 widget req">
                <h2 class="widget-title">Request a Demo</h2>
                <div class="col-sm-10 inputForm">
                    <input type="text" name="first" class='first' tabindex="2" placeholder="First"><input type="text" name="last" class='last' placeholder="Last">
                    <input type="text" name="company" class='company' tabindex="3" placeholder="Company*">
                    <input type="text" name="email" class='email2' tabindex="4" placeholder="Email*">
                    <input type="text" name="phone" class='phone' tabindex="5" placeholder="Phone">
                    <textarea class='textarea medium' tabindex="6" rows="10" cols="50" placeholder="Additional Comments"></textarea>
                    <div class="charleft">0 of 250 max characters</div>
                    <input type="submit" name="name" value="Submit" tabindex="7" class='button'>
                </div>
            </div>
        </div>
    </div>
</div>
