<div class="homewrap-1" id="home">
    <div class="page-title">
        <h1>The Fastest Growing Insurance Platform</h1>
    </div>
    <div class="button-box">
        <a href="" ng-click="glowOrange = 'orangeg'; scrollTo('request');">Request Demo</a>
    </div>
</div>
<div class="intro" id="intro">
    <div class="intro-wrap1">
        <div class="container title-cont">
            <h1><b>RiskMatch</b>: Elevating Your Relationships</h1></div>
        <div class="container box-container">
            <div class="col-md-3 quartercolumn">
                <h2 class='qtitle'>Market Intelligence</h2>
                <p class="desc">Identify trends and benchmark rates for programs and insurance placements.</p>
            </div>
            <div class="col-md-3 quartercolumn">
                <h2 class='qtitle'>Metrics & Analytics</h2>
                <p class="desc">Leverage insights into client, broker, and carrier relationships from multiple perspectives — by client, product, industry, size and geography.</p>
            </div>
            <div class="col-md-3 quartercolumn">
                <h2 class='qtitle'>Collaborate & Share</h2>
                <p class="desc">Create, collaborate, store, and share information with colleagues, clients and carriers.</p>
            </div>
            <div class="col-md-3 quartercolumn rightmost">
                <h2 class='qtitle'>Access & Connect</h2>
                <p class="desc">Understand carrier appetite and assess underwriter experience for your client’s risk.</p>
            </div>
        </div>
    </div>
    <div class="intro-wrap2">
        <div class="title-cont2">
            <h1>Managing <b>$14+ Billion</b> in P&C premiums <br> for the most innovative brokers and carriers.</h1></div>
        <div class="button-box">
            <a ng-click="scrollTo('request'); glowOrange = 'orangeg'">Request Demo</a>
        </div>
    </div>
</div>
<div class="brokers" id="brokers">
    <div class="broker-wrap1">
        <div class="container title-cont3">
            <h1>RiskMatch for <b>BROKERS</b></h1>
            <h4>All of Your Information in One Place</h4>
        </div>
        <div class="box-container col-md-12">
            <div class="col-md-4 thirdcol">
                <div class="box-widget">
                    <div class="box-widget-holder">
                        <div class="box-widget-inner">
                            <div class="image-holder">
                                <img src="media/analytics-icon1.png" alt="" />
                            </div>
                            <p class="desc">
                                Analytics & Benchmarking
                            </p>
                        </div>
                    </div>
                    <div class="description-hover">
                        <p>Benchmark client coverages and programs; enhance client deliverables and carrier relationships. Identify new business and growth opportunities across your portfolio. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 thirdcol">
                <div class="box-widget">
                    <div class="box-widget-holder">
                        <div class="box-widget-inner">
                            <div class="image-holder">
                                <img src="media/role-based-icon1.png" alt="" />
                            </div>
                            <p class="desc">
                                Role-Based Intelligence
                            </p>
                        </div>
                    </div>
                    <div class="description-hover">
                        <p>Obtain continuously enhanced intelligence on carrier appetite, client information, and colleague expertise.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 thirdcol">
                <div class="box-widget">
                    <div class="box-widget-holder">
                        <div class="box-widget-inner">
                            <div class="image-holder">
                                <img src="media/access-icon1.png" alt="" />
                            </div>
                            <p class="desc">
                                Access & Connect
                            </p>
                        </div>
                    </div>
                    <div class="description-hover">
                        <p>Obtain continuously enhanced intelligence on carrier appetite, client information, and colleague expertise.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="broker-wrap2">
        <div class="container broker-wrap2-inner">
            <div class="col-md-5 words">
                <h1>RiskMatch: Real intelligence to enhance your decisions.</h1>
                <p>The RiskMatch<sup>®</sup> platform organizes your company, client and carrier relationships in unique ways that help drive results. Take a minute to watch a brief video introduction to the RiskMatch platform for brokers. Contact us if
                    you would like an in-depth review of the platform.</p>
                <p class="button-box2"><a ng-click="scrollTo('request'); glowOrange = 'orangeg'">Request Demo</a></p>
            </div>
            <div class="col-md-7 tv">
                <div class="television">
                    <div class="player-holder">
                        <div class="player-inner">
                            <div class="video-container">
                                <a href="//fast.wistia.net/embed/iframe/k0wo27blej?popover=true" class="wistia-popover[height=720,playerColor=46b0b9,width=1280]"><img style="width:100%" src="https://embed-ssl.wistia.com/deliveries/7637b6e3aa64d10c8701bd0409f83d01e8b14a5f.jpg?image_play_button=true&amp;image_play_button_color=46b0b9e0&amp;image_crop_resized=500x281" alt=""></a><br>
                                <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="carriers" id="carriers">
    <div class="carrier-wrap1">
        <div class="container title-cont3">
            <h1>RiskMatch for <b>CARRIERS</b></h1>
            <h4>Presenting <b>$14+ Billion</b> in P&amp;C from U.S. Brokers</h4>
        </div>
        <div class="box-container col-md-12">
            <div class="col-md-4 thirdcol">
                <div class="box-widget">
                    <div class="box-widget-holder">
                        <div class="box-widget-inner">
                            <div class="image-holder">
                                <img src="media/brokers1.png" alt="" />
                            </div>
                            <p class="desc">
                                One Platform, Multiple Brokers
                            </p>
                        </div>
                    </div>
                    <div class="description-hover">
                        <p>RiskMatch provides information and access to national, regional and independent brokers throughout in the U.S. across all P&C product lines and industries.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 thirdcol">
                <div class="box-widget">
                    <div class="box-widget-holder">
                        <div class="box-widget-inner">
                            <div class="image-holder">
                                <img src="media/connect-icon1.png" alt="" />
                            </div>
                            <p class="desc">
                                Patented to Match & Connect
                            </p>
                        </div>
                    </div>
                    <div class="description-hover">
                        <p>RiskMatch was awarded a patent for facilitating connections, and enhancing collaboration between brokers and insurance companies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 thirdcol">
                <div class="box-widget">
                    <div class="box-widget-holder">
                        <div class="box-widget-inner">
                            <div class="image-holder">
                                <img src="media/analytics-icon-b1.png" alt="" />
                            </div>
                            <p class="desc">
                                Analytics & Metrics
                            </p>
                        </div>
                    </div>
                    <div class="description-hover">
                        <p>RiskMatch provides extensive metrics on your distribution partners, potential opportunities for growth and enables you to target and track opportunities more effectively.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carrier-wrap2">
        <div class="container carrier-wrap2-inner">
            <div class="col-md-5 words">
                <h1>Introducing RiskMatch for Carriers</h1>
                <p class="description">The RiskMatch<sup>®</sup> platform elevates your broker relationship management capabilities and enhances opportunity targeting of your unique product offerings. Patented to match and connect to the right opportunity every time. Take a
                    minute to watch a brief introduction to the RiskMatch platform for carriers. Contact us if you would like an in-depth review of the platform.</p>
                <p class="button-box2"><a ng-click="scrollTo('request'); glowOrange = 'orangeg'">Request Demo</a></p>
            </div>
            <div class="col-md-7 tv">
                <div class="television">
                    <div class="player-holder">
                        <div class="player-inner">
                            <div class="video-container">
                                <a href="//fast.wistia.net/embed/iframe/7urd5ju93d?popover=true" class="wistia-popover[height=720,playerColor=46b0b9,width=1280]"><img style="width:100%" src="https://embed-ssl.wistia.com/deliveries/2d574822c3a3869c88343e6222b1c37ed25821c0.jpg?image_play_button=true&amp;image_play_button_color=46b0b9e0&amp;image_crop_resized=500x281" alt=""></a>
                                <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="media" id="media">
    <div class="media-wrap1">
        <div class="container title-cont4">
            <h1>News and Media</h1>
        </div>
    </div>
    <div class="media-wrap2">
        <div class="container newslist-holder">
            <div class="newslist">
                <div class="newsItem" ng-repeat="new in frontpagenews | orderBy:datePublished">
                    <h3 class="itemDate">{{new.datePublished}}</h3>
                    <a class="itemTitle" href="{{new.storyUrl}}">{{new.name}}</a>
                    <p class="itemSummary">{{new.description}}<a href="{{new.storyUrl}}"> (Read More)</a></p>
                </div>
            </div>
            <p class="button"><a ui-sref="news">View All</a></p>
        </div>
    </div>
</div>
<!-- <div class="wrapper tabs-menu">
    <div class="container tabs-holder">
        <div class="col-md-2 category">
            <a class="tab active" id="blog_listing46">
                <div class="img-container">
                    <img class="category-icon" src="http://riskmatch.com/wp-content/uploads/2015/01/category-default1.png">
                </div>
                <img class="hover-arrow" src="http://riskmatch.com/wp-content/themes/riskmatch/images/arrow-tabs.png">
            </a>
        </div>
        <div class="col-md-2 category">
            <a class="tab " id="blog_listing63">
                <div class="img-container">
                    <img class="category-icon" src="http://riskmatch.com/wp-content/uploads/2016/07/ITA-PRO-1.png">
                </div>
                <img class="hover-arrow" src="http://riskmatch.com/wp-content/themes/riskmatch/images/arrow-tabs.png">
            </a>
        </div>
        <div class="no-padding col-md-2 category">
            <a class="tab " id="blog_listing61">
                <div class="img-container">
                    <img class="category-icon" src="http://riskmatch.com/wp-content/uploads/2016/06/Acord-Logo.png">
                </div>
                <img class="hover-arrow" src="http://riskmatch.com/wp-content/themes/riskmatch/images/arrow-tabs.png">
            </a>
        </div>
        <div class="no-padding col-md-2 category">
            <a class="tab " id="blog_listing16">
                <div class="img-container">
                    <img class="category-icon" src="http://riskmatch.com/wp-content/uploads/2015/01/category-51.png">
                </div>
                <img class="hover-arrow" src="http://riskmatch.com/wp-content/themes/riskmatch/images/arrow-tabs.png">
            </a>
        </div>
        <div class="no-padding col-md-2 category">
            <a class="tab " id="blog_listing57">
                <div class="img-container">
                    <img class="category-icon" src="http://riskmatch.com/wp-content/uploads/2015/11/100_N_America_Winner_outline_White120x50.png">
                </div>
                <img class="hover-arrow" src="http://riskmatch.com/wp-content/themes/riskmatch/images/arrow-tabs.png">
            </a>
        </div>
        <div class="no-padding col-md-2 category">
            <a href="http://riskmatch.com/news/">View All</a>
        </div>
    </div>
</div> -->
<div class="media-wrap3">

</div>


<!-- <uib-tabset active="active">
  <uib-tab index="0">
    <uib-tab-heading>
      <img src="media/logo-w.png" alt="">
    </uib-tab-heading>
  </uib-tab>
  <uib-tab index="1">
    <uib-tab-heading>
      <img src="media/newsIcons/ITA-PRO-1.png" alt="">
    </uib-tab-heading>
  </uib-tab>
  <uib-tab index="2">
    <uib-tab-heading>
      <img src="media/newsIcons/Acord-Logo.png" alt="">
    </uib-tab-heading>
  </uib-tab>
  <uib-tab index="3">
    <uib-tab-heading>
      <img src="media/newsIcons/propertyCasual360.png" alt="">
    </uib-tab-heading>
  </uib-tab>
  <uib-tab index="4">
    <uib-tab-heading>
      <img src="media/newsIcons/Red_Herring.png" alt="">
    </uib-tab-heading>
  </uib-tab>
</uib-tabset> -->


<div class="side-menu">
    <ul class='side-menu-list'>
                    <li class="home-1-link" ng-class="firstsc">
                <a ng-click="gotoElement('home')">
                    <span class="dot"></span>
                    <span class="name">Home</span>
                </a>
            </li>
                    <li class="intro-link" ng-class="secondsc">
                <a ng-click="gotoElement('intro')">
                    <span class="dot"></span>
                    <span class="name">Overview</span>
                </a>
            </li>
                    <li class="brokers-link" ng-class="thirdsc">
                <a ng-click="gotoElement('brokers')">
                    <span class="dot"></span>
                    <span class="name">Brokers</span>
                </a>
            </li>
                    <li class="carriers-link" ng-class="fourthsc">
                <a ng-click="gotoElement('carriers')">
                    <span class="dot"></span>
                    <span class="name">Carriers</span>
                </a>
            </li>
                    <li class="media-link" ng-class="fifthsc">
                <a ng-click="gotoElement('media')">
                    <span class="dot"></span>
                    <span class="name">Recent News</span>
                </a>
            </li>
            </ul>
</div>
<contact-directive id="request"></contact-directive>
<a name="request"></a>
<link rel="stylesheet" id="wistia_popover_css" href="http://fast.wistia.net/assets/stylesheets/jquery.fancybox.css?t=20160821">
